  /* input-groupの中にある各要素に隙間を作る */
  .input-group select,
  .input-group input,
  .input-group button {
    display: block;
    margin-bottom: 10px;
  }

  .row-group {
    display: flex;
    /* 横並び */
    align-items: center;
    gap: 40px;
    /* ファイル入力欄とボタンの間の隙間 */
  }