<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>

<body>
  <h2>CSVアップロード画面</h2>
  <form method="post" enctype="multipart/form-data" th:action="@{/upload}">
    <select name="source" required>
      <option value="rakuten">楽天</option>
      <option value="aeon">イオン</option>
    </select>
    <input type="file" name="file" accept=".csv" />
    <button type="submit">アップロード</button>
  </form>
  <a href="/usage-search">利用明細を検索</a><br>
  <a href="/fixed-expense">固定費用を登録</a>
</body>

</html>